@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-merriweather: "Merriweather", "serif";
  --font-fira_code: "Fira_Code", "monospace";
  --font-oswald: "Oswald", "sans-serif";
  --font-playfair_display: "Playfair_Display", "serif";
  --font-space_mono: "Space_Mono", "monospace";
}

@plugin "daisyui" {
  themes: dark, light, cupcake, bumblebee, synthwave, retro, cyberpunk, forest,
    aqua, pastel, dracula, winter, nord;
}

body {
  width: 380px;
  height: 560px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

label {
  font-size: 16px;
}
