@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

body {
  font-family: "Inter", sans-serif;
  width: 380px;
  height: 560px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

label {
  font-size: 16px;
}
